<!DOCTYPE html>
<html>
  <head>
    <%- include layout/header%>
  </head>

  <body>
    <section>
      <div class="col-xs-12 col-md-12 menu-header">
        <%- include layout/menu %>
      </div>

      <div class="col-xs-12 col-md-12 containt">
        <h3><%= title %></h3>
        <a href="/account/add" class="btn btn-default">Add New User</a>
        <br>
        <table class="table table-width">
          <thead class="thead-inverse">
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% data_admins.forEach((da, index)=>{%>
            <tr>
              <td><%= index+1 %></td>
              <td><%= da.name %></td>
              <td><%= da.email %></td>
              <td><%= da.phone %></td>
              <td><%= da.address %></td>
              <td><a href="/account/admin/edit/<%= da.id %>"><%- include layout/edit%>edit</a></td>
              <td><a href="/account/admin/<%= da.id %>"><%- include layout/delete%></a></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </section>

  </body>
</html>
