<!DOCTYPE html>
<html>
  <head>
    <%- include layout/header%>
  </head>
  <body>
    <section>
      <div class="col-xs-12 col-md-12 menu-header">
        <%- include layout/menu %>
      </div>

      <div class="col-xs-12 col-md-12 containt">
        <h3><%= title %></h3>
        <a href="/equipment/add" class="btn btn-default">Add Equipment</a><br>
        <br>
        <table class="table table-width">
          <thead class="thead-inverse">
            <tr>
              <th>Equipment id</th>
              <th>Equiment type</th>
              <th>Equiment brand</th>
              <th>Users</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <% equip.forEach((e, index)=>{ %>
          <tbody>
            <tr>
              <td ><%= index+1 %></td>
              <td><%= e.name_attr %></td>
              <td><%= e.spec %></td>
              <td><a href="/equipment/<%=e.id%>/users">View</a></td>
              <td><a href="/equipment/edit/<%=e.id%>"><%- include layout/edit%>edit</a></td>
              <td><a href="/equipment/delete/<%=e.id%>"><%- include layout/delete%></a></td>
            </tr>
          </tbody>
          <% }) %>
        </table>
      </div>
    </section>

  </body>
</html>
