<!DOCTYPE html>
<html>
<head>
  <%- include layout/header%>
</head>
  <body>
    <section class="col-xs-12 col-md-12 containt">
      <h3><%= title %></h3>
      <a href="/dashboard" class="btn btn-warning">< Go Back</a>
      <p class="name">Name : <%= u.name%></p>
      <form class="" action="/dashboard/newLoan" method="post">
      <p><b>Select Equipment : </b></p>
        <select class="" name="EquipmentId">
          <% equips.forEach(e=> {%>
          <option value="<%=e.id%>"><%=e.name_attr%></option>
          <%})%>
        </select>
        <br>
        <br>
        <p><b>Tanggal Peminjaman</b></p>
        <input type="date" name="TglPeminjaman" value="<%= new Date()%>" min="<%=new Date()+3%>">
        <br>
        <br>
        <p><b>Tanggal Pengembalian</b></p>
        <input type="date" name="TglPengembalian" value="<%= new Date()%>" min="<%=new Date()+3%>">
        <br>
        <br>
        <p><b>Qty</b></p>
        <input type="int" name="Qty">
        <br>
        <br>
        <button type="submit" name="button">Submit</button>
      </form>
     </section>
  </body>
</html>
